<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gabe.mychat.mapper.normalUserUtilMapper" >
    <resultMap id="BaseResultMap" type="com.gabe.mychat.pojo.normalUser" >
        <constructor >
            <arg column="user_id" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="gender" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="address" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="age" jdbcType="INTEGER" javaType="java.lang.Integer" />
        </constructor>
    </resultMap>

    <sql id="Base_Column_List" >
    user_id, gender, address, age
  </sql>

    <select id="selectUserById" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from normal_user
        where user_id = #{userId,jdbcType=VARCHAR}
    </select>

</mapper>