<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gabe.mychat.mapper.userUtilMapper" >
    <resultMap id="BaseResultMap" type="com.gabe.mychat.pojo.user" >
        <constructor >
            <idArg column="user_id" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="nickname" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="imgurl" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="tel" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="password" jdbcType="VARCHAR" javaType="java.lang.String" />
        </constructor>
    </resultMap>
    <sql id="Base_Column_List" >
    user_id, name, nickname, imgurl, tel, password, role
  </sql>
    <select id="selectUserByNickName" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from user
        where nickname = #{nickname,jdbcType=VARCHAR}
    </select>

</mapper>